.wrapper {
    color: white;
    overflow: hidden;
}

.coin-info {
    display: flex;
    align-items: center;
}

.coin-icon {
    width: 32px;
    height: 32px;
    object-fit: contain;
    /* or object-fit: cover; depending on your preference */
    margin-right: 10px;
    margin-left: 15px;
}

.input-group button {
    z-index: 0 !important;
}

.coin-list {
    width: 50%;
    background-color: #2d3e50;
    color: white;
}

.coin-list .list-group-item:nth-child(even) {
    background-color: #253e57;
}

.coin-list .list-group-item:hover {
    background-color: #3c5772;
}

.react-select {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
}

.rank {
    font-size: 0.6rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #253a61;
    padding: 5px 5px 5px 5px;
    margin-left: 10px;
    color: #9da7b8;
}

.transact {
    margin-right: 10px;
    align-self: flex-end;
}

.coin-list button {
    font-size: 0.7rem;
    padding: 0.2rem 0.4rem;
    margin-left: 0.4rem;
    width: 25px;
    height: 25px;
}

.coin-list .list-group-item {
    background-color: #34495e;
    color: white;
}

.trash {
    margin-left: 20px;
    opacity: 0.5;
    cursor: pointer;
}

.trash:hover {
    transition: 0.5s ease;
    opacity: 0.8;
}

.sign-out-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

.modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 200px;
    background-color: #2d3e50;
    color: white;
    border-radius: 10px;
    padding: 20px;
    z-index: 20;
}

.modal-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: white;
}

.modal-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.modal-input {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.modal-button {
    background-color: #1165ff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.modal-button:hover {
    background-color: #006F8F;
}

.user-email {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    font-size: 1rem;
    background-color: #34495e;
    padding: 5px 4px 5px 4px;
    border-radius: 10px;
    opacity: 0.76;
}

.footer {
    position: relative;
    font-weight: bold;
    font-size: 0.75rem;
    opacity: 0.4;
    bottom: 0;
    padding-top: 100px !important;
    width: 100%;
    text-align: center;
    padding: 20px;
}

@media (max-width: 767px) {
    .sign-out-btn {
        height: 40px;
        width: 80px;
        font-size: 0.8rem;
    }
    .form-select {
        width: 50%;
        margin-bottom: 0.5rem;
    }
    .form-control {
        width: 50%;
    }
}