.wrapper {
    color: white;
    overflow: hidden;
}

.coin-list {
    width: 50%;
    background-color: #2d3e50;
    color: white;
}

.coin-list .list-group-item {
    background-color: #34495e;
    color: white;
}

.sign-out-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

.modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 200px;
    background-color: #2d3e50;
    color: white;
    border-radius: 10px;
    padding: 20px;
    z-index: 20;
}

.modal-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: white;
}

.modal-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.modal-input {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.modal-button {
    background-color: #1165ff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.modal-button:hover {
    background-color: #006F8F;
}

@media (max-width: 767px) {
    .sign-out-btn {
        height: 40px;
        width: 80px;
        font-size: 0.8rem;
    }
    .form-select {
        width: 50%;
        margin-bottom: 0.5rem;
    }
    .form-control {
        width: 50%;
    }
}