.wrapper {
    color: white;
    overflow: hidden;
}

.coin-info {
    display: flex;
    align-items: center;
}

.title {
    font-size: 2.5rem !important;
}

.coin-icon {
    width: 32px;
    height: 32px;
    object-fit: contain;
    /* or object-fit: cover; depending on your preference */
    margin-right: 10px;
    margin-left: 15px;
}

.input-group button {
    z-index: 0 !important;
}

.coin-list {
    width: 50%;
    background-color: #2d3e50;
    color: white;
}

.coin-list .list-group-item:nth-child(even) {
    background-color: #1b4b7a;
}

.coin-list .list-group-item:hover {
    background-color: #366ca3;
}

.react-select {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
}

.rank {
    font-size: 0.6rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #253a61;
    padding: 5px 5px 5px 5px;
    margin-left: 10px;
    color: #9da7b8;
    border-radius: 10px;
}

.transact {
    margin-right: 10px;
    align-self: flex-end;
}

.coin-list button {
    font-size: 0.7rem;
    padding: 0.2rem 0.4rem;
    margin-left: 0.4rem;
    width: 25px;
    height: 25px;
}

.coin-list .list-group-item {
    background-color: #20568c;
    color: white;
}

.trash {
    margin-left: 20px;
    opacity: 0.5;
    cursor: pointer;
}

.trash:hover {
    transition: 0.5s ease;
    opacity: 0.8;
}

.sign-out-btn {
    position: absolute;
    top: -10px;
    right: 10px;
}

.modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 200px;
    background-color: #2d3e50;
    color: white;
    border-radius: 10px;
    padding: 20px;
    z-index: 20;
}

.modal-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: white;
}

.modal-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.modal-input {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.modal-button {
    background-color: #1165ff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.modal-button:hover {
    background-color: #006F8F;
}

.user-email {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    font-size: 1rem;
    background-color: #34495e;
    padding: 5px 4px 5px 4px;
    border-radius: 10px;
    opacity: 0.76;
}

.remove {
    width: 300px !important;
    height: 180px !important;
    border-radius: 10px !important;
    padding: 20px !important;
}

.remove .modal-button {
    padding: 10px !important;
    margin-bottom: 0 !important;
}

.add-coin {
    margin-top: 0px !important;
}

@media (max-width: 767px) {
    .sign-out-btn {
        height: 30px;
        width: 70px;
        font-size: 0.6rem !important;
    }
    .user-email {
        font-size: 0.6rem;
    }
    .form-select {
        width: 50%;
        margin-bottom: 0.5rem;
    }
    .form-control {
        width: 50%;
    }
    .coin-list {
        width: 90%;
    }
    .coin-info {
        display: flex;
        align-items: center;
    }
    .coin-icon {
        width: 32px;
        height: 32px;
        object-fit: contain;
        /* or object-fit: cover; depending on your preference */
        margin-right: 10px;
        margin-left: 15px;
    }
    .title {
        font-size: 2rem !important;
    }
    .input-group {
        width: 80% !important;
        margin: auto !important;
    }
}